.pagenotfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagenotfound__title {
    margin: 100px 0;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.helper {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #000;
}

.helper:hover {
    text-decoration: underline;
    color: rgb(37, 37, 37);
}
